<footer>
<div class="footer-main">
    <div class="footer-contact">
        <p><em><strong>Kvk name: iConstruct MG V.O.F.</strong></em></p>
        <p>Kvk nr: 71381988</p>
        <p>Bank: NL92 INGB 0008 3109 73</p>
        <p>Address: Mercatorstraat 34C</p>
        <p>Postcode: 1056 RH Amsterdam</p>
        <p>Email: info@iConstructmg.nl</p>
        <p>Tel: 06 48945529 / 0655301512</p>
    </div>

    <div class="footer-links">
        <p><a href="/home">Home</a></p>
        <!-- <p><a href="/about-us-en">About Us</a></p> -->
        <p><a href="/craftmanship-en">Craftmanship</a></p>
        <p><a href="/contact">Contact</a></p>
    </div>
</div>

<p class="footer-credits">Website by: <a target="_blank" href="http://www.joeytermeulen.com">Joey ter Meulen</a></p>

</footer>