<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./img/iConstruct.png">
    <title>iConstruct - Home</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <nav>
        <div class="nav-logo"></div>

        <div class="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <ul class="nav-items">
            <div class="language-items">
                <a href="/home" id="dutch"></a>
                <a href="/home-en" id="english"></a>
            </div>
            <li><a href="/home" class="active">Home</a></li>
            <!-- <li><a href="/over-ons">Over Ons</a></li> -->
            <li><a href="/vakwerk">Vakwerk</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="header-img"></div>

    <section class="intro">
        <h1>iConstruct</h1>
        <hr>
        <p>Wij zijn een divers bedrijf met een ruim aanbod van werkzaamheden door onze zeer professionele en ervaren werknemers. 
        iConstruct kunt u bijstaan met kleine en grote klussen. Bent u geïnteresseerd of wilt u meer informatie, neem gerust contact op!</p>
    </section>

    <section class="pointers">
        <div>
            <i class="fas fa-star fa-3x"></i>
            <h3>Kwaliteit</h3>
            <p>Ons doel is om top kwaliteit te leveren voor de juiste prijs</p>
        </div>
        <div>
            <i class="fas fa-handshake fa-3x"></i>
            <h3>Op Maat</h3>
            <p>Elke klus is uniek. Hiervoor vinden wij het van belang dat er vooraf duidelijk samen wordt besproken wat uw wensen zijn zodat wij u optimaal kunnen helpen!</p>
        </div>
        <div>
            <i class="fas fa-wrench fa-3x"></i>
            <h3>Vakmanschap</h3>
            <p>Onze werknemers zijn ervaren vakmensen die streven naar perfectie</p>
        </div>        
    </section>

    <section class="info">
        <div>
            <h1>Neem nu contact op!</h1>
            <hr>
            <p>Wilt u meer informatie of een vrijblijvende offerte? Wij zijn 24/7 per mail bereikbaar en streven ernaar om zo spoedig mogelijk te reageren!</p>
        </div>
        <i class="fas fa-comments fa-10x"></i>
    </section>

    <% include ../partials/footer.ejs %>

    <script src="/scripts/main.js"></script>
</body>
</html>