<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./img/iConstruct.png">
    <title>iConstruct - Home</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <nav>
        <div class="nav-logo"></div>

        <div class="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <ul class="nav-items">
            <div class="language-items">
                <a href="/home" id="dutch"></a>
                <a href="/home-en" id="english"></a>
            </div>
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/over-ons">Over Ons</a></li>
            <li><a href="/vakwerk">Vakwerk</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="header-img"></div>

    <section class="intro">
        <h1>iConstruct</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, inventore et, voluptas, molestias tempora nobis itaque temporibus eos perferendis suscipit accusamus minus dolorum culpa totam aperiam dolore accusantium repellendus repellat?</p>
    </section>

    <section class="pointers">
        <div>
            <i class="fas fa-home fa-3x"></i>
            <h3>Kwaliteit</h3>
            <p>Ons doel is om top kwaliteit te leveren voor de juiste prijs</p>
        </div>
        <div>
            <i class="fas fa-globe fa-3x"></i>
            <h3>Op Maat</h3>
            <p>Elke klus is uniek. ¿Grote of kleine klus?</p>
        </div>
        <div>
            <i class="fas fa-clock fa-3x"></i>
            <h3>Vakmanschap</h3>
            <p>Onze werknemers zijn ervaren vakmensen die streven naar perfectie</p>
        </div>        
    </section>

    <section class="info">
        <div>
            <h1>Neem nu contact op!</h1>
            <hr>
            <p>Wilt u meer informatie of een vrijblijvende offerte? Wij zijn 24/7 per mail bereikbaar en streven ernaar om zo spoedig mogelijk te reageren!</a></p>
        </div>
        <i class="fas fa-comments fa-10x"></i>
    </section>

    <footer>
        <div class="footer-main">
            <div class="footer-contact">
                <p><em><strong>iConstruct MG</strong></em></p>
                <p>Straatnaam</p>
                <p>Postcode</p>
                <p>Amsterdam</p>
                <p>telefoonnummer</p>
                <p>email@email.nl</p>
            </div>

            <div class="footer-links">
                <p><a href="/home">Home</a></p>
                <p><a href="/over-ons">Over Ons</a></p>
                <p><a href="/vakwerk">Vakwerk</a></p>
                <p><a href="/contact">Contact</a></p>
            </div>
        </div>

        <p class="footer-credits">Website by: <a target="_blank" href="http://www.joeytermeulen.com">Joey ter Meulen</a></p>

    </footer>

    <script src="/scripts/main.js"></script>
</body>
</html>