<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./img/iConstruct.png">
    <title>iConstruct - Vakwerk</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/vakwerk.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <nav>
        <div class="nav-logo"></div>

        <div class="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <ul class="nav-items">
            <div class="language-items">
                <a href="/vakwerk" id="dutch"></a>
                <a href="/craftmanship-en" id="english"></a>
            </div>
            <li><a href="/home">Home</a></li>
            <!-- <li><a href="/over-ons">Over Ons</a></li> -->
            <li><a href="/vakwerk"  class="active">Vakwerk</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h2>Ons vakgebied</h2>
    <hr>

    <section>
        <div class="vakwerk-item">
            <h3>Stucwerk</h3>
            <img src="http://www.leobloom.nl/upl/website/diensten/stucwerk0_srcset-large.jpg" alt="">
        </div>
        <div class="vakwerk-item">
            <h3>Spachtelputz</h3>
            <img src="http://www.avestucadoors.nl/wp-content/uploads/2015/10/Spachtelputz-800x430.png" alt="">
        </div>
        <div class="vakwerk-item">
            <h3>Schilderwerk</h3>
            <img src="https://ak2.picdn.net/shutterstock/videos/7780072/thumb/1.jpg?i10c=img.resize(height:160)" alt="">
        </div>
        <div class="vakwerk-item">
            <h3>Tegelzetten</h3>
            <img src="https://static.gamma.be/medias/sys_master/root/hbf/h1a/8796317384734.jpg" alt="">
        </div>
        <div class="vakwerk-item">
            <h3>Reparaties</h3>
            <img src="http://1.bp.blogspot.com/-G8f2FdLqLUs/UQKJUBlbSkI/AAAAAAAAkLE/FSAlY0XKS3c/s1600/Home+Repairs+plumb.jpg" alt="">
        </div>    
    </section>

    <% include ../partials/footer.ejs %>

    <script src="/scripts/main.js"></script>
</body>
</html>