body {
    /* background-image: url("https://i.imgur.com/Jcn6ZoK.jpg?1"); */
    background-image: url("https://img.etsystatic.com/il/983c37/1067071566/il_fullxfull.1067071566_qt9k.jpg?version=0");
    background-size: 100%;
}

section {
    padding: 50px 150px 150px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    margin-top: 0;
    padding-top: 150px;
    text-align: center;
}

hr {
    border: 1px solid #e25303;
    width: 400px;
}

p, a {
    margin: 3px 0;
    padding: 0;
}

.contact-info {
    width: 400px;
}

section div {
    margin: 0 60px;
}

.contact-form {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px #aaa;
    border-radius: 5px; 
    width: 400px;    
    background-color: white;
}

form {    
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input, textarea, button {
    margin: 3px 0;
    padding: 3px 0;
    font: inherit;
    font-size: 0.8em;
    border: 1px solid black;
    resize: none;
}

input:focus, textarea:focus, button:focus {
    outline-color: #e25303;
}