body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.15s linear;
}

.nav-fixed {
    height: 40px;
}

.nav-fixed .nav-logo {
    width: 65px;
    height: 35px;
    margin-left: 40px; 
}

.nav-items li a.active {
    color: #e25303;
}

.nav-logo {
    background-image: url(/img/iConstruct.png);
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 70px;
    margin-left: 20px;
    transition: 0.15s linear;
}

.nav-items {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-items li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.15s linear;
}

.nav-items li a:hover,
.nav-items li a:active {
    color: #e25303;
}

footer {
    font-size: 0.6em;
    color: white;
    background: #e25303;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-main {
    width: 200px;
    padding: 20px 0 20px 60px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;  

}

footer a {
    text-decoration: none;
    color: white;
}

.footer-credits {
    position: relative;
    margin: 0;
    padding: 0 20px 20px 0;
}