h2 {
    margin-top: 0;
    padding-top: 150px;
    text-align: center;
}

hr {
    border: 1px solid #e25303;
    width: 400px;
}

section {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.about-info {
    width: 50%;
    padding: 0 50px;
}

.profile-images img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.profile-images p {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 0.8em;
}