<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./img/iConstruct.png">
    <title>iConstruct - Contact</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <nav>
        <div class="nav-logo"></div>

        <div class="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <ul class="nav-items">
            <div class="language-items">
                <a href="/contact" id="dutch"></a>
                <a href="/contact-en" id="english"></a>
            </div>
            <li><a href="/home-en">Home</a></li>
            <!-- <li><a href="/about-us-en">About Us</a></li> -->
            <li><a href="/craftmanship-en">Craftmanship</a></li>
            <li><a href="/contact-en" class="active">Contact</a></li>
        </ul>
    </nav>

    <h2>Contact us!</h2>
    <hr>

    <section>        
        <div class="contact-info">
            <h4>Price quote</h4>
            <p>Would you like to know more or discuss a project? Request a quote directly? Contact us! 
                You can send us an email or fill in the form below. We will respond as soon as possible.</p>
            
            <h4>Address</h4>          
            <p>Kvk name: iConstruct MG V.O.F.</p>
            <p>Kvk nr: 71381988</p>
            <p>Bank: NL92 INGB 0008 3109 73</p>
            <p>Address: Mercatorstraat 34C</p>
            <p>Postcode: 1056 RH Amsterdam</p>
            <p>Email: <a href="mailto:info@iconstruct.com">info@iConstructmg.nl</a></p>
            <p>Tel: 06 48945529 / 0655301512</p>

        </div>

        <div class="contact-form">
            <form action="https://formspree.io/info@iconstructmg.nl" method="POST">
                <input required type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Company" name="bedrijf">
                <input required type="text" placeholder="Address" name="adres">
                <input required type="email" placeholder="Email" name="email">
                <input required type="text" placeholder="Phonenumber" name="telefoon">
                <textarea required placeholder="Bericht" name="Message" rows="6"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </section>

    <% include ../partials/footer-en.ejs %>

    <script src="/scripts/main.js"></script>
</body>
</html>