<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./img/iConstruct.png">
    <title>iConstruct - Over Ons</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/over-ons.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <nav>
        <div class="nav-logo"></div>
        <ul class="nav-items">
            <div class="language-items">
                <a href="/over-ons" id="dutch"></a>
                <a href="/about-us-en" id="english"></a>
            </div>
            <li><a href="/home-en" class="active">Home</a></li>
            <li><a href="/about-us-en">About Us</a></li>
            <li><a href="/craftmanship-en">Craftmanship</a></li>
            <li><a href="/contact-en">Contact</a></li>
        </ul>
    </nav>

    <h2>Wie zijn wij</h2>
    <hr>

    <section>
        <div class="about-info">
                <h3>Two boys with a vision</h3>
                <p>
                    We are two gayboys with a vision. That vision is to give more people a home. Many people do not have a home. We can make a house. With help of
                     other people". This young company was set up in 2018, after we received a lot of questions for renovation. The industry is growing, and with it the demand for it
                     skilled workers. With a vision. We can not do much, but Poles, Bulgarians and Russians can not do much, but work hard. This gave us a vision.
                     A vision to exploit this. Whipping. Torture. Pain and torment. These are a few characteristics that our workers understand. They understand many other things
                     not. They do have a clear vision.
                </p>
                <h3>Goal oriented</h3>
                <p>Targeted, that's us. Unless we do not know what the goal is. Then we try to muddle up. "We'll see" is our motto!</p>
            </div>

            <div class="profile-images">
                <img src="img/jesse.png" alt="">
                <p><em>Jesse ter Meulen</em></p>
                <img src="img/harun.png" alt="">
                <p><em>Harun Gül</em></p>
            </div>

    </section>
    

    <footer>
        <div class="footer-main">
            <div class="footer-contact">
                <p><em><strong>iConstruct MG</strong></em></p>
                <p>Straatnaam</p>
                <p>Postcode</p>
                <p>Amsterdam</p>
                <p>telefoonnummer</p>
                <p>email@email.nl</p>
            </div>

            <div class="footer-links">
                <p><a href="/home">Home</a></p>
                <p><a href="/over-ons">Over Ons</a></p>
                <p><a href="/vakwerk">Vakwerk</a></p>
                <p><a href="/contact">Contact</a></p>
            </div>
        </div>

        <p class="footer-credits">Website by: <a target="_blank" href="http://www.joeytermeulen.com">Joey ter Meulen</a></p>

    </footer>

    <script>
        $(window).bind('scroll', function(){
            if ($(window).scrollTop() > 250){
                $("nav").addClass('nav-fixed');
            } else {
                $("nav").removeClass('nav-fixed');
            }
        })
    </script>
</body>
</html>